
h1{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

h4, p, a{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.book>h1 {
    grid-area: title; 
}

.book>img {
    grid-area: image;
    width: auto;
    height: 50vh; 
    margin-left: 5px;
    margin-right: 5px;

}

.book h2:first-of-type {
     grid-area: name; 
}

.book h2:last-of-type {
     grid-area: label; 
}

.wrapper {
    grid-template-columns: 120px 120px 120px;
    grid-template-areas: 
    "image"
    "title"
    "name"
    "label";
}

.book-reviews{
    margin-left: 620px;
}
