
.book-perbook{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto; 
    /* border: 10px solid rgba(87, 20, 20, 0.217); */
}

h1{
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

h4, p, a{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.book-wrapper{
 
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto; 
  
}
.book-img{
  width: 300px;
  height: auto;
  margin: 0 auto;

}
.book>h1 {
    grid-area: title;
}

.description{
  width: 400px;
  height: auto;
}
.book h2:first-of-type {
    grid-area: name;
}

.book h2:last-of-type {
    grid-area: label;
}

.book-reviews{
    margin-left: 620px;
}

@media screen and (max-width:1280px) {
    .book-perbook {
     display: block;
    }
   .book-list{
        display: block; 
    }
  }
  @media screen and (max-width:1024px) {
    .book-perbook{
      display: block;
    } 
    .book-card {
      display: block;
    }
  }
  @media screen and (max-width:900px) {
    .book-perbook {
     display: block;
    }

  }
  @media screen and (max-width:768px) {
    .book-perbook {
     display: block;
    }
 
  
  }
  @media screen and (max-width:600px) {
    .book-perbook {
     display: block;
    }
 
  }
  @media screen and (max-width:500px) {
    .book-perbook {
      display: block;
    }
  }
