
.footer{
    bottom: 0;
    width: 100%;
    padding: 6rem 0;
    background: rgba(87, 20, 20, 0.217)
    
}
.footer-container {
     margin-bottom: 8rem;
    bottom: 0;
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    width: 100%;
    padding: 6rem 0;
}

.footer .left {
   position: relative;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.footer .right{
   position: relative;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
}
.footer h4{
    font-size: 1.4rem;
    padding: 1rem 0;
}
footer p{
    font-size: 1.2rem;
    padding: 1rem 0;
}
.footer .location{
display: flex;
align-items: center;
}

.footer .location p{
    padding-bottom: .5rem;
}
.footer .location {
    padding-top: 0;
}

.footer .social {
    color:azure;
}
@media screen  and(max-width:640){
    .footer-container {
        grid-template-columns: 1fr;
    }
    .right .social {
        margin: auto;
    }
}
    